nav{
    background-color: black;
    font-size: xx-large;
}

body{
    background-color: rgb(6, 34, 28);
}

img{
    width: 450px;
    height: 350px
}

.container2{
   display: flex; 
   height: 90vh;
   justify-content: space-evenly;
   row-gap: 2em;
   flex-wrap: wrap;
   
}

.box{
    width: 600px;
    height: 600px;
    font: size 8em;
    text-align:bottom;
    border: radius 15px;
    overflow-wrap:normal;
    overflow-wrap: break-word;

}

#box1{
    background-color: beige;
}

#box2{
    background-color: beige;
}
#box3{
    background-color: beige;
}
#box4{
    background-color: beige;
}

#buy{
    container: bottom;
    text-align: center;
    background: pink;
}